{% extends "ecom_store/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to my E-commerce Store!</h1>
    <p class="lead">We offer a wide variety of products to meet all your needs.</p>
    <hr class="my-4">
    <p>Browse our categories, find great deals, and enjoy a seamless shopping experience.</p>
    <a class="btn btn-secondary btn-lg" href="{% url 'ecom_store:order_list' %}" role="button">Start Shopping</a>
</div>
{% endblock %}
